[Desktop Entry]
Name=Corona App
Exec=coronaapp %U
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=portrait